  trigger:

  - master

  pool:
    vmImage: 'Ubuntu-latest'
  
  variables:
    buildConfiguration: release

  steps:
  - task: DotNetCoreCLI@2
    displayName: 'Build'
    inputs:
      command: 'build'
  - task: DotNetCoreCLI@2
    displayName: 'Publish'
    inputs:
      command: 'publish'
      publishWebProjects: true
      arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)'
      zipAfterPublish: true
  - task: PublishBuildArtifacts@1
    displayName: 'Drop artifact'
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)'
      ArtifactName: 'drop'
      publishLocation: 'Container'
  - task: CodeDeployDeployApplication@1
    inputs:
      awsCredentials: 'AWS CodeDeploy Bucket'
      regionName: 'us-east-1'
      applicationName: 'podcast-land'
      deploymentGroupName: 'linux-dg'
      deploymentRevisionSource: 's3'
      bucketName: 'ryan-warrener-codedeploy'