  trigger:
  - master

  pool:
    vmImage: 'Ubuntu-latest'
  
  variables:
    buildConfiguration: release

  steps:
  - task: DotNetCoreCLI@2
    displayName: 'Build'
    inputs:
      command: 'build'

  - task: DotNetCoreCLI@2
    displayName: 'Publish'
    inputs:
      command: 'publish'
      publishWebProjects: true
      arguments: '--configuration $(buildConfiguration)  --output $(Build.ArtifactStagingDirectory)'
      zipAfterPublish: true

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)'
      ArtifactName: 'drop'
      publishLocation: 'Container'

  - task: CopyFiles@2
    enabled: false
    inputs:
      SourceFolder: 'codedeploy/'
      Contents: '**'
      TargetFolder: '$(Build.ArtifactStagingDirectory)/codedeploy/'

  - task: ArchiveFiles@2
    enabled: false
    inputs:
      rootFolderOrFile: '$(Build.ArtifactStagingDirectory)/codedeploy/'
      includeRootFolder: false
      archiveType: 'tar'
      tarCompression: gz
      archiveFile: '$(Build.ArtifactStagingDirectory)/codedeploy.tar'
      replaceExistingArchive: true

  - task: CodeDeployDeployApplication@1
    enabled: false
    inputs:
      awsCredentials: 'AWS CodeDeploy Bucket'
      regionName: 'us-east-1'
      applicationName: 'podcast-land'
      deploymentGroupName: 'linux-dg'
      deploymentRevisionSource: 'workspace'
      revisionBundle: '$(Build.ArtifactStagingDirectory)/codedeploy.tar'
      bucketName: 'ryan-warrener-codedeploy'